<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <h2>Stock Price Prediction</h2>
        <form id="stockForm">
            <input type="text" id="ticker" name="ticker" class="form-control mt-3"
        placeholder="Enter Stock Ticker (e.g., GOOG, TSLA)" required>
            <div class="button-group">
                <button type="submit" class="btn btn-primary mt-3">Predict</button>
                <button type="button" id="predictTrend" class="btn btn-warning mt-3">Predict Tomorrow's Trend</button>
                <button type="button" id="stockInfo" class="btn btn-info mt-3">Stock Information</button>
            </div>
        </form>
        
        <div id="todayPrediction" class="text-center mt-4"></div>
        <div id="trendPrediction" class="text-center mt-4"></div>
        <div id="stockDetails" class="text-center mt-4"></div>
        <div id="result" class="mt-4">
            <canvas id="stockChart"></canvas>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
